* {
    font-family: 'Space Mono', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff9f9;
}

nav {
    background-color: #8ed129;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ddd;
}

.logout {
    background: #cd0707;
    padding: 10px;
    border-radius: 10px;
}

nav img {
    width: 120px;
    border-radius: 10px;
}

.election-card {
    background-color: #fff;
    padding: 20px;
    margin: 30px 20px;
    border-radius: 10px;
    border: 1px solid #8ed129;
    transition: transform 0.3s;
}

.election-card:hover {
    transform: translateY(-10px);
}

.election-card a {
    text-decoration: none;
    color: #fff;
    background-color: #58811c;
    padding: 10px;
    border-radius: 10px;
}